# Ignore virtual environment
venv/
.Venv/
env/
.Env/
app_venv/

**/__pycache__/

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3

# VS Code settings
.vscode/

# Python virtual environment files
pip-log.txt
pip-delete-this-directory.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE/editor-specific files
.idea/
*.iml

# Ignore environment variables and credentials
.env
*.env